<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping-home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {% include "main/menu.html" %}

    <div>
        <h2 class="text-center font-semibold text-xl my-5">All products</h2>
      <div class="flex gap-5 justify-center flex-wrap">
        {% for product in products %}
    
        <div class="border border-slate-500 rounded-lg shadow-lg w-[250px] bg-yellow-600">
          <a href="productDetails/{{product.id}}">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class='w-full h-[200px] rounded-tr-lg rounded-tl-lg'>
            {% else %}
            <p>No image</p>
            {% endif %}
         
           <div class="p-4 text-white">
                <p>name: {{product.name}}</p>
                <p>price:{{product.price}}</p>
                <p>quantity:{{product.quantity}}</p>
          
           
      
           </div>
          </a>

        </div>
   
        {% endfor %}
      </div>
    </div>
</body>
</html>