<header>
    <nav class="bg-cyan-500">
        <ul class="flex items-center p-3 justify-between">
           <div class="flex ">
                <li class="mr-[10px] hover:text-white">
                    <a href=" {% url 'home' %}">Home</a>
                </li>
               {% if request.user.is_superuser %}
               <li class="mr-[10px] hover:text-white">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
               {% endif %}
                <li class="mr-[10px] hover:text-white">
                    <a href="{% url 'cart' %}">Cart</a>
                </li>
           </div>
           <div class="flex">
            {% if request.user.is_authenticated %}
            <span class="mr-5">welcome! {{request.user.username}}</span>
            <li class="mr-[10px] hover:text-white">
                
                <a href="{% url 'logout' %}">Logout</a>
            </li> 
            {% else %}
               <div class="flex gap-3">
                    <li class="mr-[10px] hover:text-white">
                        <a href=" {% url 'login' %}">Login</a>
                    </li>
                    <li class="mr-[10px] hover:text-white">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
               </div>
               
                {% endif %}
           </div>
        </ul>
    </nav>
</header>